<!DOCTYPE html>
<html>
<head>
    <title>Credit Card Fraud Detection</title>
</head>
<body>

    <h1>Credit Card Fraud Detection</h1>

    <form action="{{ url_for('predict_datapoint') }}" method="post">

        <h3>Transaction Details</h3>

        <label>Time</label>
        <input type="number" step="any" name="Time" required><br><br>

        <label>Amount</label>
        <input type="number" step="any" name="Amount" required><br><br>

        {% for i in range(1,29) %}
        <label>V{{i}}</label>
        <input type="number" step="any" name="V{{i}}" required><br><br>
        {% endfor %}

        <input type="submit" value="Detect Fraud">

    </form>

    <h2>The prediction is {{ results }}</h2>

</body>
</html>